<md-bottom-sheet>
    <form class="col gap16" ng-submit="invite()">
        <div class="row asc text2">
            <div class="flex row">Новый диалог</div>
            <img class="img-white img32 rd ripple" ng-click="close()" src="icon/close.svg">
        </div>

        <div class="row text5 text-gray">
            <span>придумайте название комнаты</span>
        </div>

        <div class="row relative">
            <input class="flex"
                   ng-model="dialog_title"
                   placeholder="Название комнаты"
                   required>
            <div class="absolute right p8 mr8 r16 ripple" ng-click="reload()">
                <img class="img-white img24" src="icon/reload.svg">
            </div>
        </div>

        <button type="submit"
                ng-disabled="in_progress">
            Создать
        </button>
    </form>
</md-bottom-sheet>
