<div class="dialog flex col">
    <div class="row asc m16 text2 gap8">
        <div class="r100 avatar" ng-style="{'background-color': stringToColor(dialog.dialog_title)}">
            <img class="img-white img30 m4" src="icon/avatar.svg">
        </div>
        <div class="flex col ass head-info">
            <div class="text3 text-crop nowrap">{{dialog.dialog_title}}</div>
            <div class="row gap2">
                <img class="img-gray img12" src="icon/user-small.svg">
                <div class="text5 text-gray">{{dialog.users_count}}</div>
            </div>
        </div>
        <button class="button2"
                style="min-height: 32px; font-size: 13px; font-weight: 500; padding: 0 12px;"
                ng-click="invite($event)">Пригласить</button>
        <img class="img-white img32 rd ripple" src="icon/close.svg" ng-click="close()">
    </div>

    <div class="flex col col-reverse scroll p16 flex pb16">
        <div class="anim-height"
             ng-repeat="item in messages track by item.message_id"
             ng-class="item.group_end ? 'mt8' : 'mt4'"
             ng-style="{'animation-delay': ($index * 0.02) + 's'}">
            <div class="row gap8" ng-class="item.user_id == user_id ? 'aec' : 'asc'">
                <div class="r100" ng-if="item.user_id != user_id && item.group_end"
                     ng-style="{'background-color': stringToColor(item.user_name)}">
                    <img class="img-white img20 m4" src="icon/avatar.svg">
                </div>
                <div class="img20 m4" ng-if="item.user_id != user_id && !item.group_end"></div>
                <div class="col gap4 message-body ripple">
                    <div class="text5 text-crop nowrap"
                         ng-if="item.user_id != user_id && item.group_end"
                         ng-style="{'color': stringToColor(item.user_name)}">{{item.user_name}}</div>
                    <div class="msg-bubble relative r16 back-gray200 pv8 ph16"
                         ng-class="[(item.grouped ? 'grouped' : ''), (item.user_id == user_id ? 'mine' : 'theirs')]">
                        <div class="text4 nowrap-disabled">{{item.message_text}}<span
                            class="msg-time">{{formatTime(item.message_timestamp)}}</span></div>
                        <span class="msg-likes like-count" ng-if="item.message_likes > 0">
                            <img class="img-red img14" src="icon/like.svg">{{item.message_likes}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form class="row asc gap8 pv8 ph16 m16 back-gray200 r32"
          ng-submit="send()">
        <textarea class="flex"
                  rows="1"
                  placeholder="Сообщение"
                  ng-model="message_text"
                  autocomplete="off"
                  required></textarea>
        <button type="submit" class="r100 p8" ng-disabled="!message_text">
            <img class="img-white img24" src="/icon/send.svg">
        </button>
    </form>
</div>
