<div class="dialog col gap16">
    <input class="ph8 pv4 text5"
           style="height: 36px; line-height: 36px;"
           type="text"
           ng-model="word"
           placeholder="Изначальное">
    <input class="ph8 pv4 text5"
           style="height: 36px; line-height: 36px;"
           type="text"
           ng-model="fix"
           placeholder="С заменой">
    <button class="fill-width text5 ph8 pv4 r32"
            style="height: 36px; min-height: 36px;"
            ng-click="replace()">
        Заменить
    </button>
</div>
