<div class="dialog col">
    <div class="row asc mb16">
        <div class="flex bold text2">{{dialog.dialog_title}}</div>
        <img class="img-white img30 ripple r16 ripple" src="icon/close.svg" ng-click="close()">
    </div>
    <div class="flex col col-reverse scroll p16 gap8 flex pb16">
        <div ng-repeat="item in messages">
            <div class="row">
                <div class="back-gray300 pv8 ph12 r16 text5 ph8">
                    {{item.message_text}}
                </div>
            </div>
        </div>
    </div>

    <form class="row asc gap8 pv8 ph16 back-gray300 r32"
          ng-submit="send()">
        <input type="text"
               placeholder="Сообщение"
               ng-model="message_text"
               autocomplete="off"
               required>
        <button type="submit" class="r100 p8">
            <img class="img-white img24" src="/icon/send.svg">
        </button>
    </form>
</div>
