<div class="col">
    <div class="text2 bold p16">
        Маркет
    </div>
    <div class="ph16 pb16">
        <input class="fill-width ph16 pv8"
               type="search"
               ng-model="searchText"
               placeholder="Поиск слова">
    </div>
    <div class="flex col scroll">
        {{filteredWords}}}
        <div class="row asc gap16 ph16 pv12 border-bottom ripple"
             ng-repeat="item in filteredWords"
             ng-click="open(item)">
            <div class="flex col gap4">
                <div class="bold text3">{{item.word}}</div>
                <div class="text-gray text4">с заменой на {{item.fix}}</div>
            </div>
            <div class="col aec">
                <div class="bold text3">50</div>
                <div class="text-green text5">монет</div>
            </div>
        </div>
    </div>
</div>