<div class="flex col">
    <div class="row asc m16 relative">
        <input autocomplete="off"
               oninput="this.value = this.value.toLowerCase().replace(/[^\p{L}0-9_]/gu, '')"
               ng-model="search_text"
               ng-change="reload()"
               placeholder="Поиск">
        <img class="img24 img-white absolute right bottom m8 ripple rd p4"
             src="icon/close.svg"
             ng-if="search_text"
             ng-click="clear()">
        <div class="text-gray300 text5 absolute right bottom m8 ripple rd p4"
             ng-if="!search_text && stats">
            из {{stats.count}} слов
        </div>
    </div>
    <div class="flex col scroll">
        <div class="flex col block">
            <img class="refresh-icon img-gray" src="icon/reload.svg">
            <div class="row p16 asc gap8 r8 anim"
                 md-ink-ripple
                 ng-repeat="item in words track by item.word"
                 ng-click="openChart(item, $event)"
                 ng-style="{'animation-delay': ($index * 0.02) + 's'}">
                <p class="flex">{{item.word}}</p>
                <p class="row aee w80">{{formatPrice(item.price)}}</p>
                <p class="row aee w80" ng-class="percentColor(item.price24)">
                    {{formatPercent(item.price24)}}
                </p>
            </div>
            <div class="row text-gray m16"
                 ng-if="words && !words.length">
                не найдено, но можно
                <div class="ml4 text-blue ripple" ng-click="openFix()">добавить</div>
            </div>
            <div class="empty"></div>
        </div>
    </div>
</div>