<md-bottom-sheet>
    <div class="col gap16">
        <div class="row asc mv16 text2">
            <div class="flex row">Harmy</div>
            <img class="img-white img32 rd ripple" ng-click="close()" src="icon/close.svg">
        </div>
        <div class="col gap16 pb16">
            <input class="flex ph16 pv8"
                   ng-model="recipient_id"
                   type="number"
                   placeholder="ID получателя">
            <input class="flex ph16 pv8"
                   ng-model="amount"
                   type="number"
                   placeholder="Сумма">
            <button ng-click="send()">
                Отправить
            </button>
        </div>
    </div>
</md-bottom-sheet>
