<div class="flex col">
    <div class="row asc m16 text2">
        <img class="img-white img32 rd ripple"
             src="icon/plus.svg"
             ng-click="openInvite($event)">
        <div class="flex row acc">Harmy</div>
        <img class="img-red img32 rd ripple"
             ui-sref="profile"
             src="icon/like.svg">
    </div>
    <div class="flex col scroll">
        <div class="flex col block">
            <img class="refresh-icon img-gray" src="icon/reload.svg">
            <div class="row ph16 pv8 gap16 anim-height"
                 md-ink-ripple
                 ng-repeat="item in dialogs track by item.dialog_id"
                 ng-click="openDialog(item.dialog_id, $event)"
                 ng-style="{'animation-delay': ($index * 0.02) + 's'}">
                <div class="r100 avatar"
                     ng-style="{'background-color': stringToColor(item.dialog_title)}">
                    <img class="img-white img32 m8" src="icon/avatar.svg">
                </div>
                <div class="flex col gap4">
                    <div class="text3">{{item.dialog_title}}</div>
                    <div class="text5 text-gray">{{item.dialog_message}}</div>
                </div>
                <div class="col">
                    <div>{{formatTime(item.dialog_timestamp)}}</div>
                </div>
            </div>
            <div class="empty"></div>
        </div>
    </div>
</div>