<div class="flex col">
    <div class="row asc ph32 h64 p8 text4 gap8 anim d01" style="transition-delay: 1s;">
        <img class="img-white img20" src="icon/logo.svg">
        <span class="text2">T69</span>
        <div class="flex"></div>
        <img class="img-white img20" src="icon/profile.svg">
        {{formatPrice(user.user_balance)}}
    </div>
    <div class="flex col scroll">
        <div class="flex col block">
            <img class="refresh-icon img-gray" src="icon/reload.svg">
            <div class="row ph16 pv8 gap16 ripple anim"
                 ng-repeat="item in dialogs"
                 ng-click="openDialog(item.dialog_id, $event)"
                 ng-style="{'animation-delay': ($index * 0.02) + 's'}">
                <div class="r100"
                     ng-style="{'background-color': stringToColor(item.dialog_title)}">
                    <img class="img-white img32 m8" src="icon/avatar.svg">
                </div>
                <div class="flex col gap4">
                    <div class="text3">{{item.dialog_title}}</div>
                    <div class="text5 text-gray">{{item.message_result}}</div>
                </div>
                <div class="col">
                    <div>{{formatTime(item.message_timestamp)}}</div>
                </div>
            </div>
        </div>
    </div>
    <button class="text5 p0 w80 r100 fixed right mr16" style="bottom: 96px;" ng-click="openInvite()">+</button>
</div>