<md-bottom-sheet>
    <form class="col gap32 pb32 pt16" ng-submit="replace()">
        <div class="row asc">
            <div class="flex bold text2">Добавить</div>
            <img class="img-white img30 ripple r16" src="icon/close.svg" ng-click="close()">
        </div>

        <div class="col gap8">
            <input type="text"
                   ng-model="word"
                   required
                   placeholder="Изначальное слово">
            <input type="text"
                   ng-model="fix"
                   required
                   placeholder="Слово для замены">
        </div>
        <div class="row gap8 scroll-horizontal">
            <div class="border-blue pv4 ph8 r4"
                 ng-repeat="(key, val) in word_types"
                 ng-class="{'back-blue': word_type == key}"
                 ng-click="selectType(key)">
                {{val}}
            </div>
        </div>
        <div class="text5 text-gray">
            Мы будем предлагать использовать это слово в случайных фразах.
        </div>
        <button type="submit"
                ng-disabled="in_progress">
            Купить за 50 монет
        </button>
    </form>
</md-bottom-sheet>
