<md-bottom-sheet>
    <form class="sheet col" ng-submit="save()">
        <div class="row asc text2">
            <div class="flex row">Имя</div>
            <img class="img-white img32 rd ripple" ng-click="close()" src="icon/close.svg">
        </div>

        <div class="row text5 text-gray">
            <span>так вас увидят в чатах</span>
        </div>

        <input ng-model="user_name"
               maxlength="64"
               placeholder="Ваше имя"
               required>

        <button type="submit" ng-disabled="in_progress || form.$invalid">
            Сохранить
        </button>
    </form>
</md-bottom-sheet>
