<div ng-show="showNoData"
     class="row align-center-center"
     style="width: 100%; min-height: 270px; max-height: 270px;">
    No data
</div>
<div id="chart"
     style="width: 100%; min-height: 270px; max-height: 270px;"
     ng-show="!showNoData">
</div>
<div class="row align-center pv8">
    <div class="row ph16 pv8 mh16"
         ng-class="{'back-gray radius-default': period == period_name}"
         ng-repeat="period in periods"
         ng-click="setPeriod(period)">
        <p class="text2">{{str[period]}}</p>
    </div>
</div>