<div class="input-content" ng-show="token">
    <p class="text1">{{str.tokenomics}}</p>
    <div class="row">
        <p class="flex text2">{{str.capitalization}}</p>
        <p>{{formatPrice((token.supply - supply.balance) * token.price, 0)}}</p>
    </div>
    <div class="row">
        <p class="flex text2">{{str.total_supply}}</p>
        <p>{{formatAmount(token.supply, token.domain, 0)}}</p>
    </div>
    <div class="row">
        <p class="text2">{{str.circulation_supply}}</p>
        <img class="ml4 img12 img-gray" src="./img/chart.svg"
             ng-show="isWrappedToken(token)"
             ng-click="openChart('tokens', getTokenNetwork(token))">
        <div class="flex"></div>
        <p>{{formatAmount(token.supply - supply.balance, token.domain, 0)}}</p>
    </div>
    <div class="row" ng-show="token.difficulty > 0">
        <p class="text2">{{str.mining_difficulty}}</p>
        <img class="ml4 img12 img-gray" src="./img/chart.svg"
             ng-click="openChartWithAccumulate('tokens', token.domain + '_difficulty')">
        <div class="flex"></div>
        <p>{{formatAmount(token.difficulty)}}</p>
    </div>
    <div class="row">
        <p class="flex text2">{{str.created}}</p>
        <p>{{formatTimeDiff(token.created)}}</p>
    </div>

    <div class="row">
        <p class="flex text1">{{str.activity}}</p>
        <p class="text2">{{str.all}} / {{str.week}}</p>
    </div>
    <div class="row">
        <p class="text2">{{str.volume24}}</p>
        <img class="ml4 img12 img-gray" src="./img/chart.svg"
             ng-click="openChartWithAccumulate('exchange', token.domain + '_volume')">
        <div class="flex"></div>
        <p>{{formatPrice(token.volume24, 0)}}</p>
    </div>
    <div class="row">
        <p class="text2">{{str.accounts}}</p>
        <img class="ml4 img12 img-gray" src="./img/chart.svg"
             ng-click="openChartWithAccumulate('tokens', token.domain + '_accounts')">
        <div class="flex"></div>
        <p>{{formatAmount(analytics.accounts)}} {{formatChange(analytics.accounts7d / analytics.accounts)}}</p>
    </div>
    <div class="row">
        <p class="text2">{{str.transactions}}</p>
        <img class="ml4 img12 img-gray" src="./img/chart.svg"
             ng-click="openChartWithAccumulate('tokens', token.domain + '_trans')">
        <div class="flex"></div>
        <p>{{formatAmount(analytics.trans)}} {{formatChange(analytics.trans7d / analytics.trans)}}</p>
    </div>

    <div class="row">
        <p class="flex text1">{{str.network}}</p>
        <p class="text2">{{str.all}} / {{str.week}}</p>
    </div>
    <div class="row">
        <p class="text2">{{str.all_tokens}}</p>
        <img class="ml4 img12 img-gray" src="./img/chart.svg"
             ng-click="openChartWithAccumulate('tokens', 'tokens_count')">
        <div class="flex"></div>
        <p>{{formatAmount(analytics.tokens_count)}} {{formatChange(analytics.tokens_count7d / analytics.tokens_count)}}</p>
    </div>
    <div class="row">
        <p class="text2">{{str.all_accounts}}</p>
        <img class="ml4 img12 img-gray" src="./img/chart.svg"
             ng-click="openChartWithAccumulate('tokens', 'accounts_count')">
        <div class="flex"></div>
        <p>{{formatAmount(analytics.accounts_count)}} {{formatChange(analytics.accounts_count7d / analytics.accounts_count)}}</p>
    </div>
    <div class="row">
        <p class="text2">{{str.all_transactions}}</p>
        <img class="ml4 img12 img-gray" src="./img/chart.svg"
             ng-click="openChartWithAccumulate('tokens', 'trans_count')">
        <div class="flex"></div>
        <p>{{formatAmount(analytics.trans_count)}} {{formatChange(analytics.trans_count7d / analytics.trans_count)}}</p>
    </div>
    <div class="row">
        <p class="text2">{{str.total_wrapped}}</p>
        <div class="flex"></div>
        <p>{{formatPrice(analytics.total_wrapped, 2)}}</p>
    </div>
</div>