<div class="flex col nowrap">
    <div class="row asc m16 text4 gap8">
        <div class="row asc" ng-click="openEdit($event)">
            <img class="img-white img24 ripple" src="icon/edit.svg">
        </div>

        <div class="flex col acc" ng-click="addFunds($event)">
            <div class="text3">{{user.user_name}}</div>
            <!--<div class="text5 text-gray">@user{{user.user_id}}</div>-->
        </div>

        <div class="row aec">
            <md-menu md-position-mode="target-right bottom">
                <img class="img-white img24 ripple"
                     src="icon/settings.svg"
                     ng-click="$mdMenu.open($event)">
                <md-menu-content width="4" class="back-gray50">
                    <md-menu-item>
                        <div class="row asc text-white gap16" md-ink-ripple ng-click="copyId($event)">
                            <img class="img-white img18 mv16" src="icon/copy.svg">
                            <div>Скопировать ID</div>
                        </div>
                    </md-menu-item>
                    <md-menu-item>
                        <div class="row asc text-white gap16" md-ink-ripple ng-click="openSupport($event)">
                            <img class="img-white img18 mv16" src="icon/support.svg">
                            <div>Поддержка</div>
                        </div>
                    </md-menu-item>
                    <md-menu-item>
                        <div class="row asc text-white gap16" md-ink-ripple ng-click="openEdit($event)">
                            <img class="img-white img18 mv16" src="icon/user-circle.svg">
                            <div>Изменить имя</div>
                        </div>
                    </md-menu-item>
                    <md-menu-item class="menu-static">
                        <div class="row aec gap8">
                            <div class="text-gray">Версия 1.13</div>
                        </div>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>

    <div class="flex col scroll">
        <div class="flex col block">
            <img class="refresh-icon img-gray" src="icon/reload.svg">
            <div class="col anim d01">
                <div class="col acc p16 gap8">
                    <div class="text0">{{formatPrice(user.user_balance)}}</div>
                    <div class="text5 text-gray" ng-click="openAnalytics()">Баланс</div>
                </div>

                <div class="row acc gap16 p16">
                    <button class="col acc p8 r16 back-gray100" ng-click="addFunds()">
                        <img class="img-white img24" src="icon/qr.svg">
                        <span class="text5">Получить</span>
                    </button>
                    <button class="col acc p8 r16 back-gray100" ng-click="openBalance($event)">
                        <img class="img-white img24" src="icon/chart.svg">
                        <span class="text5">График</span>
                    </button>
                    <button class="col acc p8 r16 back-gray100" ng-click="send()">
                        <img class="img-white img24" src="icon/send.svg">
                        <span class="text5">Отправить</span>
                    </button>
                </div>

                <div class="row asc ph16 pb8">
                    <div class="flex text3 bold">Топ слов</div>
                    <div class="text5 text-gray">Статистика</div>
                </div>

            </div>
            <div class="col ph16">
                <div class="row asc gap8 pv12 pv8 r8 anim"
                     md-ink-ripple
                     ng-repeat="item in stats track by item.word"
                     ng-click="openChart(item, $event)"
                     ng-style="{'animation-delay': ($index * 0.02) + 's'}">
                    <div class="row acc r100 img40 back-accent">
                        <span class="bold text4">{{item.word[0]}}</span>
                    </div>
                    <div class="flex col gap4">
                        <div class="bold text4">{{item.word}}</div>
                        <div class="text5 text-gray">топ {{$index + 1}}</div>
                    </div>
                    <div class="col aec m8">
                        <div class="bold text4">{{formatCount(item.amount)}}</div>
                        <div class="text5 text-gray">{{item.value}}</div>
                    </div>
                </div>
            </div>
            <div class="col gap16 acc ph16 mt32 anim d03">
                <div class="text-gray">Пока диалогов нет</div>
                <div class="button2" ng-click="openSupport($event)">Поддержка</div>
            </div>


            <div class="empty"></div>
        </div>
    </div>
</div>
