<div class="col" ng-show="recommended.length > 0">
    <p class="text1 mh16 mt8">{{str.recommended}}</p>
    <div class="row scroll-horizontal ph8">
        <div class="text1 mh8 pv16"
             ng-click="selectRecommended(item.domain)"
             ng-repeat="item in recommended">
            <div class="img64 row align-center-center radius-default back-gray">
                <div ng-style="getLogo(item.domain)"></div>
            </div>
            <p class="mt8 text2 text-gray text-crop text-align-center" style="max-width: 64px;">
                {{formatDomain(item.domain)}}
            </p>
        </div>
    </div>
</div>